.homePage__container {
}

.homePage__welcome {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-top: 4rem;
}

.homePage__welcome__icon {
    align-self: center;
    text-align: center;
}

.homePage__welcome__icon:last-child {
    margin-bottom: 15vh;
}

.homePage__content__tab {
    display: flex;
    flex-wrap: wrap;
}

.homePage__content__tab > div {
   margin-right: 1.6rem;
}

